services:
  api:
    build: .
    container_name: chess-backend-api
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      GIN_MODE: release
      PORT: 8080